/*style for header title*/
.neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    background-image: url(bricks.jpg);
    background-size: 100%; 
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .neontextFont {
    font-family: "Pacifico",sans-serif;
    font-size: 70px;
  }

  /* Flickering animation */
  @keyframes flicker {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(0, 204, 255),
        0 0 80px rgb(0, 204, 255),
        0 0 90px rgb(0, 204, 255),
        0 0 100px rgb(0, 204, 255),
        0 0 150px rgb(0, 204, 255);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
/*style to push content off of the bottom of the page*/   
main {
    margin-bottom: 50px;
}

.homeImg {
    width: 100%;
    height: auto;
}
/*style for the body background color*/
body {
    background-color: black;
}
/*style to center beer list modal*/
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 10px 0px;
}
/*style to row the search titles, cocktails link, and beer link*/
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cocktails {
    background-color: rgb(154, 154, 154);
    border: 2px solid black;
    height: 600px;
    width: 400px;
}
/*style to order the cocktail directory*/
.order {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*style for cocktail directory input field, button, and button hover*/
#cocktailName {
    border-radius: 5px;
    padding: 2px;
    text-align: center;
}

#cocktailButton {
    border-radius: 5px;
    background-color: rgb(54, 104, 255);
    padding: 3px;
    color: white;
}

#cocktailButton:hover {
    background-color: rgb(109, 145, 255);
}

#cocktailRandom {
    text-decoration: none;
    color: white;
    background-color: rgb(54, 104, 255);
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 25px;
    margin-right: 10px;
    font-weight: bold;
}

#cocktailRandom:hover {
    cursor: pointer;
    background-color: rgb(109, 145, 255);
}

/*style for h1 text color*/
h1 {
    color: white;
}
/* start Homepage Styles-------------------------------------*/
.centered {
    text-align: center;
    margin: auto;
}

.input-group-rounded .input-group-field {
    border-radius: 20px;
    width: 50%;
    align-items: center;
}

.input-group-field {
    border-radius: 5px;
}

.saveButton {
    border-radius: 5px;
    margin: 1rem 0rem;
}

.clearButton {
    height: auto;
    width: auto;
    border-radius: 5 px;
    color: white;
    font-size: 18px;
    align-items: flex-end;
    margin: 0px 5px;
}

.inputSave {
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

.listLook {
    height: auto;
    width: 50%;
    border-radius: 5px;
    background-color: #767676;
    color: white;
    padding: 5px;
    margin: 2px auto;
    text-align: center;
}

/*end Homepage Styles-----------------------------------*/
/*style for search titles*/
h4 {
    text-align: center;
    color: white;
    font-family: "Pacifico",sans-serif;
    text-decoration: underline;
}
/*style for directory link image size*/
.drinkImg {
   height: 400px;
   width: 300px;
}
/*style for beer directory input field, button, and button hover*/
#beerName {
    border-radius: 5px;
    padding: 2px;
    text-align: center;
}

#beerButton {
    border-radius: 5px;
    background-color: rgb(54, 104, 255);
    color: white;
    padding: 3px;
}

#Button:hover {
    background-color: rgb(109, 145, 255);
}
/*for pop up alerts */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}

#modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 150px;
}

#close {
    font-family: 'Courier New', Courier, monospace;
    color: #aaaaaa;
    border: 2px solid #aaaaaa;
    padding-left: 2px;
    padding-right: 2px;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

#close:hover, #close:focus {
  color: rgba(253, 0, 0, .8);
  border: 2px solid rgba(253, 0, 0, .8);
  text-decoration: none;
  cursor: pointer;
}
/*style for beer directory information*/
.listStyle {
    text-align: start;
    font-size: 18px;
    width: 90%;
    border-bottom: 2px solid black;
}

.listStyle:hover {
    color: rgb(54, 104, 255);
}

.listStyle:active {
    color: darkblue;
}

.beerSquare {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: 2px solid black;
    height: auto;
}

.beerSquare > h3 {
    width: 40%;
}

.beerImg {
    height: 400px;
    width: auto;
}
/*style for links to home list and directories*/
.goList {
    text-decoration: none;
    color: white;
    background-color: rgb(54, 104, 255);
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 25px;
    margin-right: 10px;
    font-weight: bold;
}

.goList:hover {
    background-color: rgb(109, 145, 255);
}

.buttonRow {
    display: flex;
}
/*style for cocktail directory information*/
#ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

img {
    width: 20%;
}

p {
    font-size: 20px;
    background-color: rgb(39, 39, 46);
    border-radius: 5px;
    padding: 10px;
    width: 30%;
}

li {
    list-style: none;
    font-size: 30px;
}